<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% for elem in data %}
    <ul>
        <li>
            <span class="showName" id="{{ elem['id'] }}">{{ elem['title'] }}</span>
            <span> {{ elem['numar_episoade'] }}</span>
            <span class="actors" id="show-{{ elem['id'] }}"></span>
        </li>

    </ul>

{% endfor %}

<script src="/static/javascript/js.js" type="text/javascript"></script>
</body>
</html>
